.App {
  text-align: center;
}

.todo-list{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.list-text{
  width:200px;
  text-align: left;
}

.list-date{ 
  width: 200px;    
}

.list-status{
  border: 1px solid #ccc; 
  padding: 3px;
  height: 25px;
}


